:root {
    visualisation-width: ;
}

.vega-actions a {
    margin-right: 5px;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('path-to-your-font/ProximaNova-Regular.woff2') format('woff2'),
         url('path-to-your-font/ProximaNova-Regular.woff') format('woff');
}

body {
    /* background-image: url('https://w.wallhaven.cc/full/5w/wallhaven-5wqy27.png'); */
    /* font-family: 'Proxima Nova', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.visualisation-item {
    width: 50vw;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

video {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#graph__container {
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#graph__container>* {
    --bg-color: rgba(16, 18, 27, 40%);
    --bg-color: rgba(200, 200, 200, 40%);
    background: var(--bg-color);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

canvas {
    border-radius: 12px;
    /* cursor: pointer; */
}

.vega-bindings {
    position: absolute;
    top: -70px;
    background: transparent;
}

.vega-bind select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    position: relative;
    margin: 10px;
}

#graph__container > div::after {
    content: "";
    transform: translate(5px, 2.5px);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    top: 0;
    left: 0;
    border: .2px solid #888;
    z-index: 2;
    cursor: pointer;
}

#graph__container>div::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    border-radius: 10px 10px 0px 0px;
    background: #FFF;
    z-index: 1;
}

#graph__container>div {
    width: 70vw;
    margin-top: 50px;
    border: 2px solid #DDD;
    border-radius: 12px;
    padding: 100px;
    --landing-page-card-intro-animation: animate-slide-up-fade-in .5s ease-in;
    animation: var(--landing-page-card-intro-animation);
    -moz-animation: var(--landing-page-card-intro-animation);
    -webkit-animation: var(--landing-page-card-intro-animation);
    -o-animation: var(--landing-page-card-intro-animation);
    -ms-animation: var(--landing-page-card-intro-animation);
    transition: all .2s ease-in;
}

#graph__container>div:hover {
}

.chart-wrapper {
    background: transparent !important;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes animate-slide-up-fade-in {
    0% {
        transform: translateY(3vh);
        opacity: 0
    },
    10% {
        opacity: 1
    },
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

#vis-topology__current-year {
    font-size: 20px;
    width: fit-content;
    z-index: 20;
    height: 10vh;
}


.button {
    margin: none;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 4px;
    background: #1e90ff;
    color: #FFF;
    cursor: pointer;
    transition: 1s all ease-in;
}

.button:hover {
    background: purple;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#rent__graph_container, #vis-topology__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#year-slider {
    width: 50%;
    margin: none;
}

#vis-topology__current-year {
    padding: none;
    height: 40px;
}

div#vis-topology {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: none !important;
}

#vis-toplogy__graph_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vis-toplogy__text, #rent-by-suburb-year-line-chart__text {
    width: 35%;
}

#vis-toplogy__graph_container .chart-wrapper {
    width: 100% !important;
}

#vis-toplogy__graph_container canvas {
    width: 100%;
}

#rent-by-suburb-year-line-chart__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rent-by-suburb-year-line-chart {
    width: 50%;
}


#rent-by-suburb-year-line-chart__container .chart-wrapper {
    width: 100% !important;
}
