.vega-actions a {
    margin-right: 5px;
}

.vega-bindings {
    position: absolute;
    top: -70px;
    background: transparent;
}

.vega-bind select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    position: relative;
    margin: 10px;
}

@keyframes animate-slide-up-fade-in {
    0% {
        transform: translateY(3vh);
        opacity: 0
    },
    10% {
        opacity: 1
    },
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

#vis-topology__current-year {
    font-size: 20px;
    width: fit-content;
    z-index: 20;
    height: 10vh;
}


.vis_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vis__graph_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vis-topology__current-year {
    padding: none;
    height: 40px;
}

.vis__graph_container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 38px;
}


.text {
    width: 35%;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.space {
    height: 10vh;
}

.wider-text {
    width: 70%;
    max-width: 700px;
    min-width: 500px
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}


.vis__graph_container .chart-wrapper {
    background: transparent !important;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 0;
    background: red;
}

.vis__graph_container canvas {
    border-radius: 12px;
    width: 100%;
}

.controller {
    --border-color: #CCC;
    --border-size: 1px;
    color: #FFF;
    background: var(--bg-color-dark);
    border-top: var(--border-size) solid var(--border-color);
    border-bottom: var(--border-size) solid var(--border-color);
    border-right: var(--border-size) solid var(--border-color);
    /* border-left: var(--border-size) solid var(--border-color); */
    backdrop-filter: var(--background-blur);
    border-radius: 0px 8px 8px 0px;
    width: fit-content;
    min-height: calc(var(--visualisation-min-height) - 50px);
    padding: 20px 10px;
    position: absolute;
    right: 0;
    transform: translateX(calc( 100% + 5px ));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    opacity: 0;
    transition: opacity .1s ease-in;
}

.vis_container:hover .controller {
    display: flex;
    opacity: 1
}

@media (max-width: 1500px) {
    .vis_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .text {
        width: 65%;
        margin-bottom: 100px;
        overflow-wrap: break-word;
    }
}


#home-ownership-type-pie-chart {
    align-self: center;
}


#line-chart-employment {
    margin-left: 40px;
}

#isotype-employment {
    margin-left: 0px;
}

.center-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
