#graph__container {
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#graph__container>* {
    background: var(--bg-color);
    backdrop-filter: var(--background-blur);
    cursor: pointer;
}


#graph__container>div {
    color: #FFF;
    width: var(--visualisation-width);
    max-width: 1200px;
    /* min-height: var(--visualisation-min-height); */
    margin-top: 50px;
    border: 2px solid #DDD;
    border-radius: 12px;
    padding: 40px;
    --landing-page-card-intro-animation: animate-slide-up-fade-in .5s ease-in;
    animation: var(--landing-page-card-intro-animation);
    -moz-animation: var(--landing-page-card-intro-animation);
    -webkit-animation: var(--landing-page-card-intro-animation);
    -o-animation: var(--landing-page-card-intro-animation);
    -ms-animation: var(--landing-page-card-intro-animation);
    transition: all .2s ease-in;
}

#graph__container>div:hover {
}
